
.hamburger{
    display:none;
}
.dropdown{
    display:none;
}

@media only screen and (max-width: 640px) {
   .hamburger{
       display:block;
       margin-left:-86px;
       margin-right:14px;
   }       
   .hamburger img{
    padding-top:7px;
   }
   .dropdown{
    display:block;
   }
}